* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/Redstone_Dust_JE2_BE2.webp);
}

header {
    display: flex;
    justify-content: space-between;   
    background-color:rgb(95, 5, 5); 
}

#menu-pricipal>menu {
    display: flex;
    background-color: aqua;
}

#menu-pricipal>menu>li {
    display: flex;

}

#logo-wrap{
    display: flex;
    justify-content: center;
}

#img>img {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#logo-wrap>img{
    width: 100px;
    border-radius: 200px;
}
